:root{
	--accent1: #008CFF;
	--accent2: #85878d;
	--tcol: #FFFFFF;
	--bgcol: #3F404D;
	--error: #B70000;
}

::-moz-selection {
    color: var(--tcol);
    background: var(--accent1);
}

::selection {
    color: var(--tcol);
    background: var(--accent1);
}

body,html{
	max-width: 100vw;
	padding: 0;
	margin: 0;
	color: var(--tcol);
	background-color: var(--bgcol);
	
	font-size: 14pt;
}

body{
	font-family: Lato;
	overflow-y: scroll;
}

button, input, div.button {
	display: inline-block;
	padding: 8pt;
	border-radius: 4pt;
	color: var(--tcol);
	border: 0pt solid var(--bgcol);
	background-color: var(--accent1);
	margin: 16pt;
	font-size: inherit;
	cursor: pointer;
}
button.secondary, input.secondary, div.secondary {
	background-color: var(--accent2);
}

div.cfloat {
	position: fixed;
	top: 0pt;
	left: 0pt;
	width: 100vw;
	height: 100vh;
	z-index: 3;
	background-color: rgba(0,0,0,0.7);
}

div.cfloat table{
	margin-bottom: 16pt;
}
div.cfloat table td{
	vertical-align: middle;
}
div.cfloat img {
	padding-top: 2pt;
}
div.cfloat table tr td:nth-child(1){
	padding-right: 12pt;
}

form#cfloat {
	background-color: var(--bgcol);
	display: block;
	width: 15cm;
	text-align: center;
	padding: 20pt;
	border-radius: 20pt;
	z-index: 4;
	top: 20pt;
	position: absolute;
	left: calc(50vw - 7.5cm - 20pt);
}
div.g-recaptcha {
	display: inline-block;
}
div#contact-card {
	display: none;
	text-align: left;
}
div#contact-card svg {
	width: 96pt;
}
div#captcha-error {
	display: none;
}


span.accent1{
	color: var(--accent1);
}
span.accent2{
	color: var(--accent2);
}

span.title{
	font-size: 20pt;
}

h1,h2,h3,h4,h5,h6{
	font-family: Roboto Slab;
	text-decoration: underline var(--accent1);
}
h1.error,h2.error,h3.error{
	text-decoration: underline var(--error);
}

a, .a{
	cursor: pointer;
	color: var(--accent1);
	text-decoration: underline;
}

hr{
	color: var(--tcol);
	border: 1pt solid var(--tcol);
}

table{
	border: 0;
	border-spacing: 0;
}
table td{
	padding: 0;
}


table.header td{
	text-align: center;
	padding: 24pt;
	vertical-align: middle;
}
div.profile{
	width: 2in;
	height: 2in;
	border-radius: 1in;
	border: 2pt solid var(--tcol);
	
	background-position: center center;
	background-size: cover;
}

div.media-array{
	margin-top: 12pt;
}
div.media-array img:not(div.button img), div#contact-card img{
	height: 28pt;
}
div.media-array div.button {
	padding: 4pt;
	margin: 0pt;
}
div.media-array a, div.media-array div.button{
	margin-right: 16pt;
	vertical-align: middle;
	display: inline-block;
}
div.media-array div.button img {
	margin: 0pt;
	margin-left: 6pt;
	margin-right: 6pt;
	height: 24pt;
}

.thumb {
	float: right;
	display: block;
	margin: 16pt;
	max-height: 1.6in;
	max-width: 1.6in;
}

@keyframes fade-in{
	0%{opacity: 0;}
	100%{opacity: 1;}
}

@keyframes roll-up{
	0%		{margin-top: 0pt;}
	100%	{margin-top: calc(0pt - (48pt + 2in + 4pt + 16pt));}
}
@keyframes roll-down{
	0%		{margin-top: calc(0pt - (48pt + 2in + 4pt + 16pt));}
	100%	{margin-top: 0pt;}
}

label.a{
	cursor: pointer;
	color: var(--accent1);
	text-decoration: underline;
}

label.menu{
	margin-left: 1px;
	margin-right: 1px;
}
label.menu div{
	cursor: pointer;
	display: inline-block;
	margin-top: 24pt;
	padding: 16pt;
	line-height: 16pt;
	border-bottom: 3pt solid rgba(255,255,255, 0);
}
label.menu div:hover{
	border-bottom: 3pt solid var(--accent2);
}

input[name="pages"], input[name="contact"]{
	display: none;
}

div.page{
	margin-top: 24pt;
	margin-bottom: 48pt;
}

input#intro:not(:checked) ~ div#in{display: none;}
input#intro:not(:checked) ~ div.head{animation: roll-up 1s 1; margin-top: calc(0pt - (48pt + 2in + 4pt + 16pt));}
input#resume:not(:checked) ~ div#re{display: none;}
input#skills:not(:checked) ~ div#sk{display: none;}
input#projects:not(:checked) ~ div#pr{display: none;}
input#contact:not(:checked) ~ div#co{display: none;}

input#intro:checked ~ div.nav-wrapper div.nav label[for="intro"] div {border-bottom: 3pt solid var(--accent1);}
input#intro:checked ~ div.head {animation: roll-down 1s 1; margin-top: 0pt;}
input#resume:checked ~ div.nav-wrapper div.nav label[for="resume"] div {border-bottom: 3pt solid var(--accent1);}
input#skills:checked ~ div.nav-wrapper div.nav label[for="skills"] div {border-bottom: 3pt solid var(--accent1);}
input#projects:checked ~ div.nav-wrapper div.nav label[for="projects"] div {border-bottom: 3pt solid var(--accent1);}
input#contact:checked ~ div.nav-wrapper div.nav label[for="contact"] div {border-bottom: 3pt solid var(--accent1);}

input#ccard:not(:checked) ~ div.cfloat{display: none;}
input#ccard:not(:checked) ~ form#cfloat{display: none;}
input#ccard:checked ~ div.cfloat{animation: fade-in 0.5s 1; display: block;}
input#ccard:checked ~ form#cfloat{animation: fade-in 0.5s 1; display: block;}

div.page{
	animation-name: fade-in;
	animation-duration: 1s;
	animation-iteration-count: 1;
	
	display: block;
	max-width: 18cm;
}


div.block {
	text-align: justify;
	width: 100%;
	margin-top: 20pt;
	display: block;
}

div.block p{
	margin-top: 8pt;
	margin-bottom: 8pt;
}

div#pr h2 {
	text-align: left;
}
p.date {
	color: var(--accent2);
}

div.codeblock {
	font-family:'Courier New', Courier, monospace;
	width: 87%;
	font-size: 11pt;
	margin: auto;
	margin-top: 16pt;
	margin-bottom: 16pt;
}
pre.code {
	padding: 12pt;
	margin-top: 0pt;
	overflow-x: scroll;
	background-color: #111114;
	border-bottom-left-radius: 6pt;
	border-bottom-right-radius: 6pt;
}
div.codetitle{
	padding: 12pt;
	background-color: var(--accent1);
	color: var(--tcol);
	border-top-left-radius: 6pt;
	border-top-right-radius: 6pt;
}

div.menu-scroll-fade {
	display: none;
}
div.menu-filler {
	display: none;
	padding-left: 16pt;
}

@media screen and (max-width: 18cm) {
	form#cfloat {
		width: calc(85vw - 40pt);
		left: 7.5vw;
	}

	div#contact-card table tr {
		display: block;
	}
	div#contact-card svg {
		width: 48pt;
	}
	
	table.header td {
		display: block;
	}
	table.header td:nth-child(1) {
		padding-bottom: 0px;
	}
	div.profile {
		width: calc(50vw - 12pt);
		height: calc(50vw - 12pt);
		border-radius: calc(25vw - 6pt);
		margin-left: calc(25vw - 20pt);
	}
	table.header td:nth-child(2) {
		padding-top: 0px;
	}
	
	div.head {animation: none; margin-top: 0pt;}
	input#intro:checked ~ div.head {animation: none; margin-top: 0pt;}
	input#intro:not(:checked) ~ div.head{animation: none; margin-top: 0pt;}
	
	div.menu-scroll-fade {
		display: block;
		width: 32pt;
		height: 51pt;
		position: absolute;
	}
	div.nav-wrapper {
		width: 100%;
		overflow-x: scroll;
	}
	div.nav {
		display: table-row;
	}
	label.menu {
		display: table-cell;
	}
	div.menu-filler {
		display: table-cell;
	}
	label.menu div {
		margin-top: 0pt;
	}
	
	div.page {
		width: 90%;
	}
	
	div.block {
		text-align: left;
		width: 90%;
		display: block;
	}

	.thumb {
		display: none;
	}

	div.codeblock {
		font-family:'Courier New', Courier, monospace;
		width: 100%;
	}
	pre.code {
		border-bottom-left-radius: 12pt;
		border-bottom-right-radius: 12pt;
	}
	div.codetitle{
		border-top-left-radius: 12pt;
		border-top-right-radius: 12pt;
	}
}